body{
	font-family: Helvetica;
	background-color: #CBF8FF;
}

#header {
	width: 900px;
	margin: 0 auto;
	position: fixed;
	background-color: #5A88B2;
	/* opacity: 0.4; */
	background:rgba(90,136,178,0.75);
}

nav {
	float: right;
	margin-top: 20px;
}
.navmenu {
	float: left;
	list-style-type: none;
	text-transform: uppercase;
	/* font-weight: bold; */
	letter-spacing: 2px;
	color: white;
	margin: 0px 40px 10px 0px;
}

a.nav:link, a.nav:visited {
	color: #FFEAA9;
	text-decoration: none;
}

a.nav:hover {
	color: #DB5200;
	font-style: italic;
	text-decoration: underline;
}

a.nav:active{
	color: #ffffff;
	font-style: italic;
	text-decoration: none;
}

a.homepage:link, a.homepage:visited, a.homepage:hover {
	color: #ffffff;
	letter-spacing: 1px;
	text-decoration: none;
}

#pagetitle {
	text-transform: uppercase;
	font-style: italic;
	background-color: #5A88B2;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	color: #ffffff;
}

#all-in {
	/* margin-top: 100px; */
	margin-bottom: 20px;
	float: left;
}

#intro {
	margin-left: 28px;
	font-style: italic;
	font-size: 20px;
	color: #DB5200;
}

.intro {
	padding: 0px 60px 10px 50px;
}

p {
	font-size: 14px;
	line-height: 18px;
}
form {
	padding: 0px 60px 10px 50px;
	font-size: 14px;
}
footer {
	clear: both;
	text-align: center;
	font-size: 13px;
	width: 900px;
	background-color: white;
}

#FooterBorder{
	/* border: 2px solid white; */
	width: 900px;
	margin: 0 auto;
	color: white;
	background-color: white;
	height: 100%;
}

#container{
	width: 900px;
	margin: 0 auto;
	background-color: white;
	height: 100%;	
}

#information{
	border-radius: .5em;
	width: 400px;
	padding: 10px;
	margin: 10px;
}

#treatmentBoxes{
	width: 680px;
	margin: 20px auto;
}

#treatmentTitle{
	font-style: italic;
	font-size: 20px;
	color: #DB5200;
}

.box{
	background-color: #3B98BF;
	width: 300px;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	float: left;
	box-shadow: 10px 10px 5px #A4A4A4;
}

.box h3{
	color: #DB5200;
	font-style: italic;
}

.clear{
	clear: both;
}
#blank{
	width:900px;
	height: 80px;
}
.bold-uppercase {
	font-weight: bold;
	text-transform: uppercase;
}
.bold-italic {
	font-weight: bold;
	font-style: italic;
}
.values {
	width: 80%;
	font-size: 14px;
	margin-left: 35px;
}
#social {
	margin: 3.5px;
	border: 0px;
	text-decoration: none;
}
.banner{
	width: 450px;
	height: 120px;
	text-align: center;
	padding: 10px;
	/* margin: 10px; */
	float: left;
}
.bottcontact{
	background-color: #EB7F00;
	width: 350px;
	height: 120px;
	text-align: center;
	line-height: 18px;
	color: #570b03;
	margin: 10px 0px 10px 10px;
	float: left;
}
.bottsocial{
	background-color: #1695A3;
	width: 60px;
	height: 120px;
	color: #1695A3;
	margin: 10px 10px 10px 0px;
	float: right;
}