body{
	font-family: Helvetica;
	background-color: black;
}
#header {
	width: 900px;
	margin: 0 auto;
	border: 2px solid black;
	position: fixed;
	background-color: red;
	background:rgba(0,0,0,0.75);
}
nav {
	float: right;
	margin-top: 30px;
}
li {
	float: left;
	list-style-type: none;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	margin: 0px 10px 10px 0px;
}
a.nav:link, a.nav:visited {
	color: white;
	text-decoration: none;
}
a.nav:hover {
	color: lightblue;
	text-decoration: underline;
}
a.homepage:link, a.homepage:visited, a.homepage:hover {
	color: black;
	text-decoration: none;
}
#pagetitle {
	text-transform: uppercase;
	background-color: gray;
	float: left;
	padding-left: 4px;
	padding-right: 4px;
}
#all-in {
	margin-top: 100px;
	margin-bottom: 20px;
	float: left;
}
#intro {
	margin-left: 8px;
	font-style: italic;
	font-size: 20px;
}
.intro {
	padding: 0px 20px 10px 30px;
}
p {
	font-size: 14px;
}
article{

}

footer p{
	clear: both;
	text-align: center;
	font-size: 13px;
	width: 900px;
}

#FooterBorder{

	border: 2px solid white;
	width: 897px;
	margin: 0 auto;
	color: white;
	background-color: white;
	height: 100%;
}

#container{
	width: 900px;
	margin: 0 auto;
	background-color: white;
	height: 100%;	
}

#information{
	border-radius: .5em;
	width: 400px;
	padding: 10px;
	margin: 10px;
}

#treatmentBoxes{
	width: 680px;
	margin: 20px auto;
}

.box{
	background-color: DarkBlue;
	width: 300px;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	float: left;
}

.clear{
	clear: both;
}

#blank{

	width:900px;
	height: 80px;
}