body{
	font-family: Helvetica;
	background-color: black;
}
#header {
	width: 900px;
	margin: 0 auto;
	border: 2px solid black;
	position: fixed;
	background-color: red;
	background:rgba(0,0,0,0.75);
}
nav {
	float: right;
	margin-top: 30px;
}
li {
	float: left;
	list-style-type: none;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	margin: 0px 10px 10px 0px;
}
a.nav:link, a.nav:visited {
	color: white;
	text-decoration: none;
}
a.nav:hover {
	color: lightblue;
	text-decoration: underline;
}
a.homepage:link, a.homepage:visited, a.homepage:hover {
	color: black;
	text-decoration: none;
}
h1#pagetitle {
	text-transform: uppercase;
	background-color: gray;
	float: left;
}
img#all-in {
	margin-top: 100px;
	float: left;
}
p.intro {
	padding: 0px 10px 0px 10px;
}

article{

}

#

footer p{
	clear: both;
	text-align: center;
	font-size: 13px;
	width: 900px;
	
	
	

	
	

}

#FooterBorder{

	border: 2px solid white;
	width: 897px;
	margin: 0 auto;
	color: white;
	background-color: white;
	height: 100%;

}

#container{
	width: 900px;
	margin: 0 auto;
	background-color: white;
	height: 100%;
	
}

#information{
	border-radius: .5em;
	width: 400px;
	padding: 10px;
	margin: 10px;
}

#about img{
	border-radius: .5em;
	width: 400px;
	padding: 10px;
	

}

#helppicture {

	width: 450px;
	float: right;

}

#helppicture p{

	width: 450px;
	float: right;

}